@import "colors";
@import "flex";
@import "type";
@import "animations";

body {
  .app-font;
}
a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    opacity: 0.85;
  }
}
p {
  margin: 0;
}
.i {
  font-style: italic;
}
hr {
  margin: 20px 0;
  border-style: solid;
  border-width: 0.5px;
}

// SCROLLBAR
::-webkit-scrollbar
{
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track
{
  background: transparent;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: @color-deemphasize;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: @color-deemphasize;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: @color-deemphasize;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: @color-deemphasize;
  font-style: italic;
}

.margint {
  margin-top: 10px;
}
.marginb {
  margin-bottom: 10px;
}
.marginl {
  margin-left: 10px;
}
.marginr {
  margin-right: 10px;
}
.pad {
  padding: 15px;
}
.small-pad {
  padding: 5px !important;
}
.nopad {
  padding: 0px !important;
}
.nopad-top {
  padding-top: 0px;
}
.nopad-bottom {
  padding-bottom: 0px;
}
.nopad-left {
  padding-left: 0px;
}
.nopad-right {
  padding-right: 0px;
}
.bottompad {
  padding-bottom: 200px;
}

.nowrap {
  white-space: nowrap;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

// VIEW ITEMS
.button {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}
button {
  .button;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
button.clear {
  background-color: transparent !important;
}
select {
  height: 30px;
  font-size: 15px;
  overflow: hidden;
  outline: none;
}
input {
  .input;
}
.input {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 0px;
}
.spinner {
  min-width: 20px;
  min-height: 20px;
  border-radius: 100%;
  &.large {
    height: 80px;
    width: 80px;
  }
}
.pointer {
  cursor: pointer;
}

.rounded {
  border-radius: 5px;
}
.circle {
  border-radius: 100%;
}
.float-btn {
  display: inline-block;
  margin: 5px;
  padding: 15px;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
}
.subtitle {
  .font-small;
  .i;
  letter-spacing: 0.5px;
}
.edit-item {
  border-left: solid 1px;
  border-bottom: solid 3px;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.pop-left {
  position: absolute;
  right: 100%;
  margin-right: 3px;
  top: 0;
  padding: 5px;
  border-radius: 4px;
  z-index: 100;
  &::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    height: 4px;
    width: 6px;
  }
}
.center-box {
  position: fixed;
  top: 50%;
  bottom: 0;
  left: 50%;
  overflow: visible;
  z-index: 100;
  & > * {
    transform: translateX(-50%) translateY(-50%);
  }
  &.blur::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(10px);
    z-index: 0;
  }
}

.vfull {
  height: 100%;
}
.vthird {
  height: 33.33%;
}
.hfull {
  width: 100%;
}
.hthird {
  width: 33.33%;
}
.inline {
  display: inline-block;
}
.relative {
  position: relative;
}
.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &.fixed {
    position: fixed;
  }
}
.z-1 { z-index: -10; }
.z0 { z-index: 0; }
.z1 { z-index: 100; }
.z2 { z-index: 200; }
.z3 { z-index: 300; }
.z4 { z-index: 400; }
.z5 { z-index: 500; }

.noscroll {
  overflow: hidden;
}
.scrolly {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.scrollx {
  overflow-x: scroll;
}

.substance {
  .scrolly;
  .bottompad;
  padding-top: 15px;
}

.blur {
  filter: blur(4px);
}
.faded {
  opacity: 0.6;
}
